{% extends "static_base.html" %}
{% load static %}

{% block content %}
    <div class="container py-4">
        <h1>Acerca de Onlyflans</h1>
        <hr>
        <div class="row py-3">
            <div class="col-12 col-md-6">
                <p>Bienvenidos a OnlyFlans, donde cada bocado cuenta una historia y cada flan está hecho con amor. Fundada en 2021 en el vibrante barrio de Providencia, Santiago de Chile, OnlyFlans es una pastelería familiar que se especializa en deleitar a sus clientes con postres excepcionales, con un enfoque especial en nuestro producto estrella: el flan.</p>
                <p>En OnlyFlans, creemos que la calidad es indispensable. Por eso, cada uno de nuestros flanes es preparado usando ingredientes seleccionados meticulosamente para garantizar un sabor y una textura inolvidables. Nuestra ubicación es fácilmente accesible, a solo unos pasos del metro Parque Bustamante, lo que nos permite ser un punto de encuentro para los amantes de los dulces y para aquellos en búsqueda de un momento dulce en su día.</p>
                <p>Somos más que una empresa; somos una familia apasionada por la pastelería y comprometida con nuestra comunidad. En OnlyFlans, cada cliente es tratado como un miembro más de nuestra familia. Nos esforzamos por crear una experiencia cálida y acogedora para todos los que cruzan nuestra puerta.</p>
            </div>   
            <div class="col-12 col-md-6">
                <a>
                    <img src="{% static 'img/tienda.jpg' %}" height="75%" width="95%" alt="Frontis Tienda">
                </a>
            </div>
        </div>
        <h5>Te invitamos a visitarnos y descubrir por qué OnlyFlans es el lugar preferido para quienes buscan calidad, sabor y una atención que te hace sentir en casa.</h5>        
    </div>
        



{% endblock %}