<!-- COMANDO PARA EXTENDER CODIGO DE ARCHIVO INDICADO -->
{% extends "static_base.html" %}

<!-- APERTURA CODIGO MODIFICADO -->
{% block content %}

<div class="container-fluid h-custom py-4">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5 text-center">
            <h2>Contactanos</h2>
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <!-- FORMULARIO -->
            <form action="{% url 'contacto' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_customer_email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="id_customer_email" name="customer_email" placeholder="tuemail@ejemplo.com" value="{{ form.customer_email.value|default_if_none:'' }}">
                    {% if form.customer_email.errors %}
                        <div class="invalid-feedback" style="display: block;">
                            {{ form.customer_email.errors.as_text }}
                        </div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="id_customer_name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="id_customer_name" name="customer_name" placeholder="Tu nombre" value="{{ form.customer_name.value|default_if_none:'' }}">
                    {% if form.customer_name.errors %}
                        <div class="invalid-feedback" style="display: block;">
                            {{ form.customer_name.errors.as_text }}
                        </div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="id_message" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="id_message" name="message" rows="3">{{ form.message.value|default_if_none:'' }}</textarea>
                    {% if form.message.errors %}
                        <div class="invalid-feedback" style="display: block;">
                            {{ form.message.errors.as_text }}
                        </div>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>            
        </div>
    </div>
</div>

{% endblock %}