{% extends "static_base.html" %}

{% block content %}
<div class="container">
    <div class="pt-4">
        <h1>Explora nuestra Presencia Digital y Ubicación</h1>
    </div>
    
    <!-- Sección de Redes Sociales -->
    <div class="py-4">
        <h2>Síguenos en Redes Sociales</h2>
        <div class="pt-2">
            <a href="https://facebook.com/tutienda"><i class="fa-brands fa-facebook fa-5x px-5" style="color: #333333;"></i></a>
            <a href="https://instagram.com/tutienda"><i class="fa-brands fa-instagram fa-5x px-5" style="color: #333333;"></i></a>
            <a href="https://twitter.com/tutienda"><i class="fa-brands fa-x-twitter fa-5x px-5" style="color: #333333;"></i></a>
        </div>
    </div>

    <!-- Sección de Video de YouTube -->
    <div class="py-4">
        <h2>Receta - Flan Manjar</h2>
        <h3>Revisa esta increible receta de un amigo de la casa, Alvaro Barrientos Montero</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/1u7jKVH2sSs?si=yoXd_sDPZ9b78bgU"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <!-- Sección de Google Maps -->
    <div class="pb-5">
        <h2>Encuéntranos Aquí</h2>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1482.9411996515937!2d-70.6252309036678!3d-33.44695098641884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c57c32932b17%3A0x8c067598d7d436b6!2sCaf%C3%A9%20de%20la%20Candelaria!5e0!3m2!1ses!2scl!4v1713569836870!5m2!1ses!2scl"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>


{% endblock %}