{% extends "static_base.html" %}
{% load static %}

{% block content %}

<!-- CARDS -->
<div class="container px-4">
  <div class="row">
    <!-- CARD 1 -->
    <div class="col-12 col-md-4">
      <div class="card mb-5" style="width: 18rem;">
        <img src="{% static 'img/flan.jpg' %}" class="card-img-top" alt="Flan Fantasía">
        <div class="card-body">
          <h5 class="card-title">Flan Fantasía</h5>
          <p class="card-text">Un clásico flan de vainilla coronado con un espejo de caramelo y espolvoreado con virutas de oro comestible.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>
    <!-- CARD 2 -->
    <div class="col-12 col-md-4">
      <div class="card mb-5" style="width: 18rem;">
        <img src="{% static 'img/cheesecake.jpg' %}" class="card-img-top" alt="Cheesecake Flan-Tasía">
        <div class="card-body">
          <h5 class="card-title">Cheesecake de Flan-Tasía</h5>
          <p class="card-text">Una base de galleta crujiente cubierta con una capa de flan y coronada con crema de queso y frambuesas frescas.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>
    <!-- CARD 3 -->
    <div class="col-12 col-md-4">
      <div class="card mb-5" style="width: 18rem;">
        <img src="{% static 'img/cupcake.jpg' %}" class="card-img-top" alt="Cupcake Flan-Velvet">
        <div class="card-body">
          <h5 class="card-title">Cupcakes de Flan-Velvet</h5>
          <p class="card-text">Cupcakes de terciopelo rojo con un corazón de flan cremoso, cubiertos con un frosting de queso y decorados con un pequeño flan en la cima.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>
    <!-- CARD 4 -->
    <div class="col-12 col-md-4">
      <div class="card mb-5" style="width: 18rem;">
        <img src="{% static 'img/flanberry.jpg' %}" class="card-img-top" alt="Flanberry">
        <div class="card-body">
          <h5 class="card-title">Flanberry Delight</h5>
          <p class="card-text">Flan de fresa natural con una capa de gelatina de fresa y trozos de fresa fresca en la parte superior
          </p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>
    <!-- CARD 5 -->
    <div class="col-12 col-md-4">
      <div class="card mb-5" style="width: 18rem;">
        <img src="{% static 'img/mousse.jpg' %}" class="card-img-top" alt="Mousse Chocolate">
        <div class="card-body">
          <h5 class="card-title">Mousse de Flan de Chocolate</h5>
          <p class="card-text">Mousse aireada con sabor a chocolate intenso y una base de flan suave, cubierto con chispas de chocolate.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>
    <!-- CARD 6 -->
    <div class="col-12 col-md-4">
      <div class="card mb-5" style="width: 18rem;">
        <img src="{% static 'img/tartatatin.jpg' %}" class="card-img-top" alt="Tarta Tatin">
        <div class="card-body">
          <h5 class="card-title">Tarta Tatin de Flan</h5>
          <p class="card-text">Inspirada en la clásica tarta tatin, esta versión incluye una base de flan cubierta con manzanas caramelizadas y hojaldre crujiente.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

